<form [formGroup]="addFilmForm" (ngSubmit)="onSubmit()" class="form-container">
  <label>Name</label>
  <input type="text" formControlName="name" />
  <label>Image URL</label>
  <input type="text" formControlName="image" />
  <label>Rating</label>
  <input type="text" formControlName="rating" />
  <label>Watch Time</label>
  <input type="number" formControlName="watchTime" />
  <button type="submit">Submit</button>
</form>

<button (click)="redirectToHomeComponent()">Return Home</button>

{{localStorageValue}}